// =============================================================================
// STENCIL
// =============================================================================

// Tools
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's toolkit for use.
//
// -----------------------------------------------------------------------------

@import '../../node_modules/@bigcommerce/citadel/dist/tools/toolkit'; // 1
@import 'tools/tools';

// Settings
// -----------------------------------------------------------------------------
//
// 1. Stencil global settings get imported first.
// 2. Import all Citadel and Foundation settings.
// 3. Common aria helpers.
// 4. Import Stencil's component settings overrides.
// 5. Import tools which set/reset Citadel's global settings, to be consumed by
//    the rest of Stencil.
// 6. Import Citadel's version of foundation.
//      - This enables the ability to "null" variables in the Stencil settings.
//
// -----------------------------------------------------------------------------

@import 'settings/global/global'; // 1

@import '../../node_modules/@bigcommerce/citadel/dist/settings/global/global'; // 2

@import 'settings/global/tools'; // 5

@import '../../node_modules/@bigcommerce/citadel/dist/settings/normalize/normalize'; // 2
@import '../../node_modules/@bigcommerce/citadel/dist/settings/foundation/foundation'; // 2
@import '../../node_modules/@bigcommerce/citadel/dist/settings/bigcommerce/bigcommerce'; // 2

@import '../../node_modules/@bigcommerce/citadel/dist/vendor/foundation/foundation'; // 6

@import 'settings/normalize/normalize'; // 4
@import 'settings/vendor/vendor'; // 4
@import 'settings/foundation/foundation'; // 4
@import 'settings/citadel/citadel'; // 4
@import 'settings/stencil/stencil'; // 4
@import 'settings/layouts/layouts'; // 4

// Utilities
// -----------------------------------------------------------------------------

@import 'utilities/utilities';
@import '../../node_modules/@bigcommerce/citadel/dist/utilities/utilities';

// Components
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's normalize dependency.
// 2. Import Citadel's components.
// 2. Import Stencil's component additions and custom components.
//
// -----------------------------------------------------------------------------

@import '../../node_modules/@bigcommerce/citadel/dist/vendor/normalize/normalize'; // 1
@import '../../node_modules/@bigcommerce/citadel/dist/components/components'; // 2
@import 'common/index'; // 3
@import 'components/components'; // 6

// Layouts
// -----------------------------------------------------------------------------
//
// 1. Stencil design layout files (example: Header or Footer).
//
// -----------------------------------------------------------------------------

@import 'layouts/layouts'; // 1

/*Base*/
:root {
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-heading-style: normal;
  --font-heading-weight: 400;
  --font-body-scale: 1;
  --font-heading-scale: 1;
  --grid-desktop-vertical-spacing: 8px;
  --grid-desktop-horizontal-spacing: 8px;
  --grid-mobile-vertical-spacing: 4px;
  --grid-mobile-horizontal-spacing: 4px;
}
.media > *:not(.zoom):not(.deferred-media__poster-button),
.media model-viewer {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.media > img {
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.text-body {
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}
.hxl {
  font-size: calc(var(--font-heading-scale) * 5rem);
}
@media only screen and (min-width: 750px) {
  .hxl {
    font-size: calc(var(--font-heading-scale) * 6.2rem);
  }
}
.h0 {
  font-size: calc(var(--font-heading-scale) * 4rem);
}
@media only screen and (min-width: 750px) {
  .h0 {
    font-size: calc(var(--font-heading-scale) * 5.2rem);
  }
}
.h1 {
  font-size: calc(var(--font-heading-scale) * 3rem);
}
@media only screen and (min-width: 750px) {
  .h1 {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
}
.h2 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}
@media only screen and (min-width: 750px) {
  .h2 {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
  }
}
.h3 {
  font-size: calc(var(--font-heading-scale) * 1.7rem);
}
@media only screen and (min-width: 750px) {
  .h3 {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}
.h4 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale) * 1.5rem);
}
.h5 {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}
@media only screen and (min-width: 750px) {
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}
.h6 {
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}
blockquote {
  font-style: italic;
  border-left: 0.2rem solid;
  padding-left: 1rem;
}
@media screen and (min-width: 750px) {
  blockquote {
    padding-left: 1.5rem;
  }
}
.caption {
  font-size: 1rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.7 / var(--font-body-scale));
}
@media screen and (min-width: 750px) {
  .caption {
    font-size: 1.2rem;
  }
}
.caption-with-letter-spacing {
  font-size: 1rem;
  letter-spacing: 0.13rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  text-transform: uppercase;
}
.caption-with-letter-spacing--medium {
  font-size: 1.2rem;
  letter-spacing: 0.16rem;
}
.caption-with-letter-spacing--large {
  font-size: 1.4rem;
  letter-spacing: 0.18rem;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}
@media screen and (min-width: 750px) {
  .grid {
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}
.grid:last-child {
  margin-bottom: 0;
}
.grid__item {
  width: calc(25% - var(--grid-mobile-horizontal-spacing) * 3 / 4);
  max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  flex-grow: 1;
  flex-shrink: 0;
}
@media screen and (min-width: 750px) {
  .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
.grid--gapless.grid {
  column-gap: 0;
  row-gap: 0;
}
@media screen and (max-width: 749px) {
  .grid__item.slider__slide--full-width {
    width: 100%;
    max-width: none;
  }
}
.grid--1-col .grid__item {
  max-width: 100%;
  width: 100%;
}
.grid--3-col .grid__item {
  width: calc(33.33% - var(--grid-mobile-horizontal-spacing) * 2 / 3);
}
@media screen and (min-width: 750px) {
  .grid--3-col .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }
}
.grid--2-col .grid__item {
  width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
}
@media screen and (min-width: 750px) {
  .grid--2-col .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .grid--4-col-tablet .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  }
  .grid--3-col-tablet .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }
  .grid--2-col-tablet .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
@media screen and (max-width: 989px) {
  .grid--1-col-tablet-down .grid__item {
    width: 100%;
    max-width: 100%;
  }
  .slider--tablet.grid--peek {
    margin: 0;
    width: 100%;
  }
  .slider--tablet.grid--peek .grid__item {
    box-sizing: content-box;
    margin: 0;
  }
  .slider.slider--tablet .scroll-trigger.animate--slide-in,
  .slider.slider--mobile .scroll-trigger.animate--slide-in {
    animation: none;
    opacity: 1;
    transform: inherit;
  }
  .scroll-trigger:not(.scroll-trigger--offscreen) .slider--tablet {
    animation: var(--animation-slide-in);
  }
}
@media screen and (min-width: 990px) {
  .grid--6-col-desktop .grid__item {
    width: calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6);
    max-width: calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6);
  }
  .grid--5-col-desktop .grid__item {
    width: calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5);
    max-width: calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5);
  }
  .grid--4-col-desktop .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  }
  .grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }
  .grid--2-col-desktop .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .slider.slider--desktop .scroll-trigger.animate--slide-in {
    animation: none;
    opacity: 1;
    transform: inherit;
  }
  .scroll-trigger:not(.scroll-trigger--offscreen) .slider--desktop {
    animation: var(--animation-slide-in);
  }
}
@media screen and (min-width: 990px) {
  .grid--1-col-desktop {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .grid--1-col-desktop .grid__item {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 749px) {
  .grid--peek.slider--mobile {
    margin: 0;
    width: 100%;
  }
  .grid--peek.slider--mobile .grid__item {
    box-sizing: content-box;
    margin: 0;
  }
  .grid--peek .grid__item {
    min-width: 35%;
  }
  .grid--peek.slider .grid__item:first-of-type {
    margin-left: 1.5rem;
  }
  .grid--peek.slider:after {
    margin-left: calc(-1 * var(--grid-mobile-horizontal-spacing));
  }
  .grid--2-col-tablet-down .grid__item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  }
  .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item,
  .grid--peek .grid__item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) - 3rem);
  }
  .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item,
  .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
    width: calc(100% - var(--grid-mobile-horizontal-spacing) - 3rem);
  }
}
@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider--tablet.grid--peek .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) - 3rem);
  }
  .slider--tablet.grid--peek.grid--3-col-tablet .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) - 3rem);
  }
  .slider--tablet.grid--peek.grid--2-col-tablet .grid__item,
  .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) - 3rem);
  }
  .slider--tablet.grid--peek .grid__item:first-of-type {
    margin-left: 1.5rem;
  }
  .grid--2-col-tablet-down .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .grid--1-col-tablet-down.grid--peek .grid__item {
    width: calc(100% - var(--grid-desktop-horizontal-spacing) - 3rem);
  }
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}
.visually-hidden--inline {
  margin: 0;
  height: 1em;
}
